{% extends "layout.html" %}

{% block title %}
    Reserve
{% endblock %}

{% block main %}

    <form action="/Reserve" method="post">
 <div class="form-group">
            <select name="slot">
            {% for slot in slots %}
            <option value="{{ slot.slot_id }}">{{ slot.date }}: {{slot.time }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-popup" id="myForm">
       <div class="column" style="text-align: middle; width: 100%;">
        <form action="/action_page.php" class="form-container">
        <br><input type="checkbox" name="time" required>
            <label for="time"> Your table will only be held on for 15 minutes after your reserved timing</label><br><br>
            <input type="checkbox" name="rules" required>
            <label for="rules"> Due to the recent rules in Singapore, there will only be dining for 1/2 pax</label><br><br>
            <button type="submit" class="btn btn-dark">Reserve</button>
        </form>
      </div>
    </div>
</div>
</form>
<script type="text/javascript">
function openForm() {
  document.getElementById("myForm").style.display = "block";
}
{% endblock %}
